.tmnt-grid  {
    font-family: 'Abel', sans-serif;
    font-size:42px;
  }
  
  .tmnt-grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    position: relative;
  }

  .images {
    height: 300px;
    width: 250px;
    border: 10px solid black;
    margin-top: 25px;
    margin-left: 20px;
  }
  
  .tmnt-grid-element {
    animation: animateGrid 0.5s;
  }