.tmnt-grid  {
    font-family: 'Abel', sans-serif;
    font-size:42px;
  }
  
  .tmnt-grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    position: relative;
  }
  
  /* .tmnt-grid-element {
    animation: animateGrid 0.5s;
  } */